<!DOCTYPE html>
<html>

<head>
    <% include ../parties/head %>
</head>
<body>
        <main>

            <% include ../parties/form %>

                <div class="container mg-b-20">
                    <% include ../parties/result %>
                </div>

        </main>
</body>
</html>